<!DOCTYPE html>
<html>
<head>
    <script src="/Assets/js/jQuery-3-2-0/jQuery-3-2-0.js"></script>
    <script src="/Assets/js/js-custom-validation-lib/js-custom-validation-lib.js"></script>
    <link href="/Assets/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/Assets/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
    <link href="/Assets/js/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 
    <link href="/Assets/js/bootstrap-datetimepicker-master/src/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="/Assets/js/moment-develop/moment.js"></script>
    <script src="/Assets/js/moment-develop/locale/pl.js"></script>
    <script src="/Assets/js/bootstrap-datetimepicker-master/src/js/bootstrap-datetimepicker.js"></script>
    <link href="/Assets/js/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <script src="/Assets/js/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
    <link href="/Assets/js/bootstrap-select-1.12.2/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="/Assets/js/bootstrap-select-1.12.2/dist/js/bootstrap-select.min.js"></script>
    <link href="~/Assets/js/icheck-1.x/skins/flat/_all.css" rel="stylesheet" />
    <script src="/Assets/js/icheck-1.x/icheck.min.js"></script>
    <script src="/Assets/js/scripts.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="alert-success" class="alert" style="display: none;">
        <i class="fa fa-smile-o"></i>&nbsp;<span>Paragon został dodany!</span>
    </div>
    <div id="alert-error" class="alert" style="display: none;">
        <i class="fa fa-frown-o"></i>&nbsp;<span>Coś poszło nie tak, proszę spróbować ponownie!</span>
    </div>

    <div class="top-bar">        
        <div class="top-bar-dt">

        </div>        
    </div>

    <div class="pane">
        <div class="main-container">
            <div class="ajax-wheel" style="display: none;">
                <img src="~/Assets/img/ajax-wheel.svg" />
            </div>
            @RenderBody()
        </div>        
    </div>
</body>
</html>

<style>
    html {
        height: 100%;
    }

    body {
        background-size: cover;
        background-image: url(/Assets/img/login-background.jpg);
        background-repeat: no-repeat;
        height: 100%;
    }

    .top-bar:hover {
        background-color: rgba(25,25,25,0.5) !important;
    }

    .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        color: rgb(215,215,215) !important;
        background-color: rgba(25,25,25,0.25);
        -webkit-transition: all 0.20s;
        transition: all 0.20s;
    }

    .top-bar-dt {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-family: Lato;
        padding-top: 5px;
    }

    .home-button {
        text-decoration: none !important;
    }

    .pane {
        width: 100%;               
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgba(25,25,25,0.25);        
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
    }

    .main-container {
        width: calc(100% - 20px);
        min-height: 700px;
        margin: 0 auto;   
        background-color: rgba(25,25,25,0.25);           
        padding: 14px;
        margin-top: 10px;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .ajax-wheel {    
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(255,255,255,0.65);
    }

    .ajax-wheel img {
        position: absolute;
        left: calc(50% - 75px);
        top: calc(50% - 75px);
    }

    .alert {
        width: auto;
        min-height: 24px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10000;
        border-radius: 4px;
        background-color: #FFF;
        border: 1px solid #CCC;
        font-family: Lato;
        font-size: 17px;
    }

</style>

<script>

    jQuery(document).ready(function () {
        SetTopBarDateTime();
        setInterval(SetTopBarDateTime, 1000);
    });

    function HideAllAlerts(callback) {
        jQuery('.alert').animate({
            'opacity': '0',
            duration: 750
        });                
        setTimeout(function() {
            jQuery('.alert')
                .hide()
                .css('opacity', '1');            
        }, 750);
    }

    function ShowAlert(selector) {
        jQuery(selector)
            .css('opacity', '0')
            .show()
            .animate({
                'opacity': '1',
                duration: 750
            });
    }

    function ShowAlertSuccess(text, hideAfter) {
        HideAllAlerts();
        setTimeout(function () {
            jQuery('#alert-success span').html(text);
            ShowAlert('#alert-success');
        }, 750);

        setTimeout(function () {
            HideAllAlerts();
        }, hideAfter + 750);
    }

    function ShowAlertError(text, hideAfter) {
        HideAllAlerts();
        setTimeout(function () {
            jQuery('#alert-error span').html(text);
            ShowAlert('#alert-error');
        }, 750);
        setTimeout(function () {
            HideAllAlerts();
        }, hideAfter + 750);
    }

    function ShowHideAjaxWheel(showAjaxWheel) {
        if (showAjaxWheel) {
            jQuery('.ajax-wheel')
                .css('opacity', '0')
                .show()
                .animate({
                    'opacity': '1',
                    duration: 750
                });
        }
        else {
            jQuery('.ajax-wheel')                
                .animate({
                    'opacity': '0',
                    duration: 750
                });                
            setTimeout(function() {
                jQuery('.ajax-wheel')
                    .hide()
                    .css('opacity', '1');
            }, 750);
        }
    }

    function SetTopBarDateTime() {
        var date = new Date();

        var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
        var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
        var year = date.getFullYear();

        var hour = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
        var minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
        var seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();

        jQuery('.top-bar .top-bar-dt').html('<i class="glyphicon glyphicon-calendar" style="font-size: 19px;"></i>&nbsp;' + [day, month, year].join('-') + ' ' + [hour, minutes, seconds].join(':'));
    }
</script>