<script>
    var allowToChangePeriodDropdown = false;

    jQuery(document).ready(function () {        
        jQuery('#ddlChartsPeriod').selectpicker();
        jQuery('#ddlChartsPeriod').on('change', function () {
            ChangeBillsDateRange(jQuery(this).selectpicker('val'));
        });

        jQuery('#dtBillsRangeFrom').datetimepicker({
            locale: 'pl',
            format: 'DD.MM.YYYY',
            ignoreReadonly: true
        });

        jQuery('#dtBillsRangeTo').datetimepicker({
            locale: 'pl',
            format: 'DD.MM.YYYY',
            ignoreReadonly: true,
            useCurrent: false //Important! See issue #1075
        });

        jQuery('#dtBillsRangeFrom').on('dp.change', function (e) {
            jQuery('#dtBillsRangeTo').data('DateTimePicker').minDate(e.date);

            if (allowToChangePeriodDropdown) {
                CreateCategoryPieChart();
                jQuery('#ddlChartsPeriod').selectpicker('val', 'NONE');
            }
            allowToChangePeriodDropdown = true;            
        });

        jQuery('#dtBillsRangeTo').on('dp.change', function (e) {
            jQuery('#dtBillsRangeFrom').data('DateTimePicker').maxDate(e.date);

            if (allowToChangePeriodDropdown) {
                CreateCategoryPieChart();
                jQuery('#ddlChartsPeriod').selectpicker('val', 'NONE');
            }
            allowToChangePeriodDropdown = true;
        });
    });

    function ChangeBillsDateRange(ddlValue) {        
        switch (ddlValue) {
            case 'CM':
                SetBillsDateRange_currentMonth();
                CreateCategoryPieChart();
                break;
            case 'LM':
                SetBillsDateRange_lastMonth();
                CreateCategoryPieChart();
                break;
            case 'L30D':
                SetBillsDateRange_last30Days();
                CreateCategoryPieChart();
                break;
            case 'CY':
                SetBillsDateRange_currentYear();
                CreateCategoryPieChart();
                break;
            case 'LY':
                SetBillsDateRange_lastYear();
                CreateCategoryPieChart();
                break;
        }
    }

    function SetBillsDateRange_currentMonth() {
        var date = new Date();
        var dtStart = new Date(date.getFullYear(), date.getMonth(), 1);
        var dtEnd = new Date(date.getFullYear(), date.getMonth() + 1, 0, 23, 59, 59);
        SetBillsDateRange(dtStart, dtEnd);
    }

    function SetBillsDateRange_lastMonth() {        
        var dtStart = new Date();
        dtStart.setDate(1);
        dtStart.setMonth(dtStart.getMonth() - 1);
        var dtEnd = new Date(dtStart.getFullYear(), dtStart.getMonth() + 1, 0, 23, 59, 59);
        SetBillsDateRange(dtStart, dtEnd);
    }

    function SetBillsDateRange_last30Days() {
        var dtEnd = new Date();
        var dtStart = new Date();
        dtStart.setDate(dtEnd.getDate() - 30);
        SetBillsDateRange(dtStart, dtEnd);
    }

    function SetBillsDateRange_currentYear() {
        var date = new Date();
        var dtStart = new Date(date.getFullYear(), 0, 1);
        var dtEnd = new Date(date.getFullYear(), 11, 31, 23, 59, 59);
        SetBillsDateRange(dtStart, dtEnd);
    }

    function SetBillsDateRange_lastYear() {
        var date = new Date();
        var dtStart = new Date(date.getFullYear() - 1, 0, 1);
        var dtEnd = new Date(date.getFullYear() - 1, 11, 31, 23, 59, 59);
        SetBillsDateRange(dtStart, dtEnd);
    }

    function SetBillsDateRange(dtStart, dtEnd) {
        allowToChangePeriodDropdown = false;
        jQuery('#dtBillsRangeFrom').data('DateTimePicker').date(dtStart);
        allowToChangePeriodDropdown = false;
        jQuery('#dtBillsRangeTo').data('DateTimePicker').date(dtEnd);
    }

    function CreateCategoryPieChart() {
        jQuery.ajax({
            type: 'POST',
            url: '/Handlers/ChartsDataHandler.ashx',
            contentType: 'application/json',
            data: JSON.stringify({
                From: FormatJSDateToCSharpDate(jQuery('#dtBillsRangeFrom').data('DateTimePicker').date()._d),
                To: FormatJSDateToCSharpDate(jQuery('#dtBillsRangeTo').data('DateTimePicker').date()._d),
                ChartType: 'CategoryPieChart'
            }),
            beforeSend: function() {
                ShowHideAjaxWheel(true);
            },
            success: function (data) {
                var chartData = [];   
                for (var i = 0; i < data.length; i++) {
                    chartData.push({
                        name: data[i].CategoryName,
                        y: data[i].Price
                    });
                }                
                DrawCategoryPieChart(chartData);
                ShowHideAjaxWheel(false);
            },
            error: function () {
                ShowHideAjaxWheel(false);
            }
        });
    }

    var categoryPieChartTotalPrice = null;
    function DrawCategoryPieChart(data) {            
        categoryPieChartTotalPrice = 0;              
        for (var i = 0; i < data.length; i++) {
            categoryPieChartTotalPrice += data[i].y;
        }

        Highcharts.chart('categoryPieChartCanvas', {
            chart: {
                backgroundColor: 'rgba(255,255,255,0.25)',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                events: {
                    load: function () {
                        jQuery('#categoryPieChartCanvas .highcharts-text-outline').attr('stroke-width', 0);
                    },
                    redraw: function () {
                        jQuery('#categoryPieChartCanvas .highcharts-text-outline').attr('stroke-width', 0);
                    }
                }
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Wydatki na poszczególne kategorie',
                style: {
                    color: 'white',
                    fontFamily: '\'Lato\', sans-serif',
                    lineHeight: '28px',
                    fontSize: '32px'
                }
            },
            tooltip: {
                pointFormat: '{point.y} zł / ' + categoryPieChartTotalPrice + ' zł <br/> <b>{point.percentage:.2f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.percentage:.2f} %',
                        style: {
                            color: 'white',
                            fontFamily: '\'Lato\', sans-serif',
                            lineHeight: '18px',
                            fontSize: '17px'
                        }
                    }
                }
            },
            series: [{
                name: null,
                colorByPoint: true,
                data: data
            }]
        });
    }

</script>


<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-4">
        <span class="custom-label" style="margin-right: 5px;">Okres:</span>    
        <select id="ddlChartsPeriod">
            <option value="NONE">---</option>
            <option value="CM">Obecny miesiąc</option>
            <option value="LM">Poprzedni miesiąc</option>
            <option value="L30D">Ostatnie 30 dni</option>
            <option value="CY">Obecny rok</option>
            <option value="LY">Poprzedni rok</option>
        </select>
    </div>
    <div class="col-md-2" style="text-align: right; padding-top: 5px;">
        <span class="custom-label">Zakres:</span>
    </div>
    <div class="col-md-3">
        <div class='input-group date' id='dtBillsRangeFrom'>
            <input type='text' class="form-control" readonly="readonly" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class='input-group date' id='dtBillsRangeTo'>
            <input type='text' class="form-control" readonly="readonly" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div id="categoryPieChartCanvas" style="width: 100%; height: 400px; margin: 0 auto"></div>