@using BillsManagementWebApp.ViewModels
@model UserViewModel
@{
    ViewBag.Title = "Strona główna";
    Layout = Constants.BaseLayoutPath;
}        

<style>
    .tile {        
        background-color: white;        
        background-color: rgba(25,25,25,0.20);
        border: 1px solid rgba(25,25,25,0.10);        
        -webkit-transition: all 0.20s;
        transition: all 0.20s;
        cursor: pointer;
        vertical-align: top; 
        margin-bottom: 10px; 
        width: 220px;
        height: 120px;             
    }

    .tile-highlighted, .tile:hover {
        background-color: rgba(25,25,25,0.40);
        -moz-transform: translate(-2px, -2px);
        -ms-transform: translate(-2px, -2px);
        -o-transform: translate(-2px, -2px);
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    .tile-header {
        color: white;
        font-family: 'Abel';        
        font-size: 38px;
        position: absolute;
        left: 12px;
        top: 4px;
    }

    .tile-icon {
        position: absolute;
        right: 14px;
        bottom: 14px;
        font-size: 44px;
        color: #d6d6d6;
    }

    .tile-content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .grid {
        position: relative;
        width: 100%;
        height: 100%;        
    }

    .tile-wrapper {
        width: 230px;
        height: auto;
        padding-right: 10px;        
        border-right: 1px solid rgba(25,25,25,0.25);
        float: left;
    }

    .tile-tab-content {
        float: right;
        width: calc(100% - 240px);
        height: 100%;
        background-color: rgba(25,25,25,0.20);
        border: 1px solid rgba(25,25,25,0.10);    
    }

    .div-welcome {        
        text-align: center;
        color: white;        
        font-family: 'Poiret One';
        padding-top: 120px;
    }

    .div-selected-tab-content {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        min-height: 639px;
        padding-bottom: 20px;
    }

    .div-selected-tab-content .div-selected-tab-content-header {
        font-family: Abel;
        font-size: 40px;
        color: white;
    }

    .div-selected-tab-content hr {
        border-color: white;
        border-width: 2px;
        width: calc(100% - 2px);
        margin-top: 10px;
    }
</style>

<script>
    jQuery(document).ready(function () {
        jQuery('body').on('click', '.tile', function () {
            jQuery('.tile-highlighted').removeClass('tile-highlighted');
            jQuery(this).addClass('tile-highlighted');
        });
        jQuery('body').on('click', '#tileSignOut', SignOut);
        jQuery('body').on('click', '#tileCreateBill', GoToCreateBill);
    });

    function GoToCreateBill() {
        ShowNewSelectedTabContent('#div-create-bill');        
    }

    function SignOut() {        
        jQuery('#formSignOut').submit();
    }

    function ShowNewSelectedTabContent(selectedTabContentSelector) {
        jQuery('.div-selected-tab-content').hide();
        // defined in _CreateBillPartialView.cshtml
        ResetCreateBillForm();
        jQuery(selectedTabContentSelector)
            .css('opacity', '0')
            .show()
            .animate({
                'opacity': '1',
                duration: 750
            });
    }
</script>

<div class="grid">
    <div class="tile-wrapper">
        <div class="tile">
            <div class="tile-content">
                <span class="tile-header">
                    Paragony
                </span>
                <i class="tile-icon fa fa-usd"></i>
            </div>
        </div>

        <div id="tileCreateBill" class="tile">
            <div class="tile-content">
                <span class="tile-header" style="font-size: 34px;">
                    Nowy paragon
                </span>
                <i class="tile-icon fa fa-plus"></i>
            </div>
        </div>

        <div class="tile">
            <div class="tile-content">
                <span class="tile-header">
                    Wydatki
                </span>
                <i class="tile-icon fa fa-pie-chart"></i>
            </div>
        </div>

        <div class="tile">
            <div class="tile-content">
                <span class="tile-header" style="font-size: 34px;">
                    Lista<br/>zakupowa
                </span>
                <i class="tile-icon glyphicon glyphicon-list-alt" style="top: 60px;"></i>
            </div>
        </div>

        <div id="tileSignOut" class="tile">
            <div class="tile-content">
                <span class="tile-header" style="font-size: 34px;">
                    Wyloguj
                </span>
                <i class="tile-icon glyphicon glyphicon-off" style="top: 60px;"></i>
            </div>
        </div>
    </div>

    <div class="tile-tab-content">
        <div class="div-selected-tab-content div-welcome">
            <span class="animate-start-stat-text" style="font-size: 90px; opacity: 0;">
                Witaj<br />@(Model.UserDisplayNameFormatted)!                
            </span>            
            <hr class="animate-start-stat-text" style="width: 80%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; border-width: 2px; opacity: 0;" />                        
            <span class="animate-start-stat-text" style="font-size: 45px; font-family: Abel; opacity: 0;">
                Liczba paragonów: 23
            </span>
            <br />
            <span class="animate-start-stat-text" style="font-size: 45px; font-family: Abel; opacity: 0;">
                Wydatki w tym miesiącu: 1354,67 zł
            </span>
        </div>

        <div id="div-create-bill" class="div-selected-tab-content" style="display: none;">
            <h2 class="div-selected-tab-content-header">Tworzenie paragonu</h2>
            <hr />
            @Html.Partial("/Views/Shared/_CreateBillPartialView.cshtml", new BillViewModel())
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        var timeOffset = 200;
        jQuery('.animate-start-stat-text').each(function () {
            var that = jQuery(this);
            setTimeout(function () {
                that.animate({
                    'opacity': 1,
                    duration: 400
                });
            }, timeOffset += 300);            
        });
    });
</script>

@using (Html.BeginForm("SignOut", "Home", FormMethod.Post, new { @id = "formSignOut" })) { }